body {
  background-color: darkslategrey;
}

img {
  display: block;
  margin: auto;
  height: 150px;
  width: auto;
}

.manager {
  margin-top: 20px;
}

.shift {

}

.barShifts {
  display: flex;
  flex-flow: column wrap;
  width: 900px;
  height: 300px;
}

.barShiftsEmp {
  display: flex;
  flex-flow: column wrap;
  width: 900px;
  height: 150px;
}

.serverShifts {
  display: flex;
  flex-flow: column wrap;
  width: 900px;
  height: 220px;
}

.serverShiftsEmp {
  display: flex;
  flex-flow: column wrap;
  width: 900px;
  height: 120px;
}

.kitchenShifts {
  display: flex;
  flex-flow: column wrap;
  width: 900px;
  height: 220px;
}

.kitchenShiftsEmp {
  display: flex;
  flex-flow: column wrap;
  width: 900px;
  height: 120px;
}

.doorShifts {
  display: flex;
  flex-flow: column wrap;
  width: 900px;
  height: 220px;
}

.doorShiftsEmp {
  display: flex;
  flex-flow: column wrap;
  width: 900px;
  height: 120px;
}

.hide {
  opacity: 0;
}

.navBar {
  list-style-type: square;
  margin-right: .5em;
}

.navBar li {
  list-style: none;
  display: inline-block;
  margin: .2em;
  padding: 8px;
  background-color: lightslategrey;
  color: lightgrey;
}

.navBar a {
  text-decoration: none;
  color: lightgrey;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkred;
}

header img {
  border-radius: 50%;
  height: 80px;
  margin: 5px;
}

.manager {
  background-color: #555;
  font-family: Helvetica;
}

.server {
  background-color: #555;
  font-family: Helvetica;
}

.kitchen {
  background-color: #555;
  font-family: Helvetica;
}

.door {
  background-color: #555;
  font-family: Helvetica;
}
