body {
  background-color: darkslategrey;
}

img {
  display: block;
  margin: auto;
  height: 150px;
  width: auto;
}

.manager {
  margin-top: 20px;
}

.shift {

}

.barShifts {
  display: flex;
  flex-flow: column wrap;
  width: 900px;
  height: 300px;
}

.barShiftsEmp {
  display: flex;
  flex-flow: column wrap;
  width: 900px;
  height: 150px;
}

.hide {
  display: none;
}
