.manager {
  background-color: #555;
  font-family: Helvetica;
}

.server {
  background-color: #555;
  font-family: Helvetica;
}

.kitchen {
  background-color: #555;
  font-family: Helvetica;
}

.door {
  background-color: #555;
  font-family: Helvetica;
}
